@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OptimusPrinceps';
  src: url('./fonts/OptimusPrinceps.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  background-color: #171717; /* neutral-900 */
}

/* Remove number input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
